<div id="<%= dom_id physician %>">

 <tr>
    <td> <%= physician.unique_id %></td>
    <td> <%= physician.name %></td>
    <td> <%= physician.email %></td>
    <td><%= link_to "Show", physician %></td>  
  </tr>
</div>
