<h1 style="text-align:center">Rails Association Assignment</h1>
<div style="background-color:#F0FFFF; ">
<h3>1) has_many :through :</h3> 
<br>
<%= link_to "Create Appointments",new_appointment_path() %>
<br>
<br>
<%= link_to "All Patient",patients_path() %> |
<%= link_to "All Physician",physicians_path() %> |
<br>
<br>
</div>

<br>
<br>
<br>

<div style="background-color:#F0FFFF; ">

<h3>2) has_and_belongs_to_many :</h3> 
<br>
<%= link_to "Add Sector to Industry", new_industries_sector_path() %>
<br>
<br>

<%= link_to "All Industry",industries_path() %> |
<%= link_to "All Sector",sectors_path() %> |
<br>
<br>
</div>
