<div id="<%= dom_id industry %>">

<tr>   
<td>    <%= industry.name %></td>
<td>    <%= industry.email %></td>
<td>    <%= industry.registration_number %></td>
<td><%= link_to "Show ", industry %> </td>
<td> </td>
</tr>   

</div>
